body {
    background-color: aquamarine;
    margin: 0;
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

/*GOMYCODE NavBar*/

.containertop {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flextop {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .25em 0;
}


.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.total {
    text-align: right;
    margin-top: 20px;
}

.cart-item .price {
    font-weight: bold;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity button {
    cursor: pointer;
    background-color: #f7f7f7;
    border: none;
}

#total-amount {
    font-weight: bold;
}

:root {
    --main-color: #dc143c
}

/*gray-heart*/

.gray-heart {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
}

.gray-heart:before,
.gray-heart:after {
    content: "";
    background: #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
}

.gray-heart:before {
    top: -12.5px;
    left: 0;
}

.gray-heart:after {
    left: 12.5px;
    top: 0;
}

/*red-heart*/
.red-heart {
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    transform: rotate(-45deg);
    visibility: hidden;
}

.red-heart:before,
.red-heart:after {
    content: "";
    background: var(--main-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
}

.red-heart:before {
    top: -12.5px;
    left: 0;
}

.red-heart:after {
    left: 12.5px;
    top: 0;
}

.red-heart.animation {
    animation: pop 0.9s linear;
    visibility: visible;
}

.red-heart.fill-color {
    background: var(--main-color);
}

@keyframes pop {
    100% {
        transform: scale(1.7) rotate(-45deg);
        opacity: 0;
    }
}